
.li, .badges{
  font-family: "Arsenal", serif;
  font-weight: 400;
  font-style: normal;
}
p{
  /* background: rgba(255, 255, 255, 0.5); Light translucent white */
  text-shadow: white 4px 6px 10px;
}
h2{
  text-shadow: white 4px 6px 10px;
}
.hero-section{
  position: relative;
    height: 100vh;
    background: url('badgeLogo.png') no-repeat center center/cover;
    background-blend-mode: lighten;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button-badge {
  background-color: #004977; /* Transparent background */
  color: white; /* White text */
  padding: 12px 24px; /* Adjust padding */
  border-radius: 8px; /* Rounded corners */
  font-weight: bold; /* Make text bold */
  border-color: #004977; /* Border changes to blue */
  transition: all 0.3s ease-in-out; /* Smooth transition effect */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensures proper button sizing */
}

/* Hover Effect */
.button-badge:hover {
  background: rgba(255, 255, 255, 0.2); /* Slight white overlay on hover */
  /* color: #004977; Change text color to Capital One blue */
  border: 2px solid white; /* White border */
}
.badges:hover{
  box-shadow: 0 0 10px #fff; 
}
.badge1, .badge2,.badge3, .badge4,.badge5,.badge6 {
  height: 150px;
  width: 150px;
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  overflow: hidden; /* Prevents overflow */
}

.badge1 img {
  max-width: 150%; /* Ensures the image scales within the div */
  max-height: 150%; /* Prevents the image from being too large */
  object-fit: contain; /* Keeps the image's aspect ratio */
}
.badge2 img{
  max-width: 150%; /* Ensures the image scales within the div */
  max-height: 125%; /* Prevents the image from being too large */
  object-fit: contain; /* Keeps the image's aspect ratio */
}
.badge3 img{
  max-width: 100%; /* Ensures the image scales within the div */
  max-height: 110%; /* Prevents the image from being too large */
  object-fit: contain; /* Keeps the image's aspect ratio */
}

.badge5 img{
  max-width: 120%; /* Ensures the image scales within the div */
  max-height: 150%; /* Prevents the image from being too large */
  object-fit: contain; /* Keeps the image's aspect ratio */
}
.badge6 img{
  max-width: 115%; /* Ensures the image scales within the div */
  max-height: 150%; /* Prevents the image from being too large */
  object-fit: contain; /* Keeps the image's aspect ratio */
}
